<form
        class="addTable"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
>
    <mat-toolbar class="addTable__toolbar">
        <span class="addTable__toolbar__title">Заявка №1</span>
        <span class="addTable__toolbar__spacer"></span>
        <mat-icon class="addTable__toolbar__icon" mat-dialog-close>close</mat-icon>
    </mat-toolbar>
    <div class="addTable__forms">
        <div class="addTable__forms__container">
            <div class="addTable__forms__container__left">
                <div style="margin-bottom: 20px">
                    <div *ngIf="data; else elseBlock2">
                        <mat-form-field
                                appearance="outline"
                                class="addTable__forms__container__left__input"
                        >
                            <input
                                    matInput
                                    formControlName="name"
                                    required
                                    [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
                            >
                            <mat-error *ngIf="form.get('name').invalid">{{nameError()}}</mat-error>
                            <mat-icon
                                    matSuffix
                                    class="addTable__forms__container__left__icon"
                                    [matMenuTriggerFor]="menu"
                                    style="cursor: pointer"
                            >
                                menu_book
                            </mat-icon>
                            <mat-menu #menu="matMenu">
                                <mat-list>
                                    <mat-list-item
                                            *ngFor="let menu of menus"
                                            (click)="this.form.controls.name.patchValue(menu.item)"
                                            class="addTable__forms__container__left__menu"
                                    >
                                        {{menu.item}}
                                    </mat-list-item>
                                </mat-list>
                            </mat-menu>
                        </mat-form-field>
                    </div>
                    <ng-template #elseBlock2>
                        <mat-form-field
                                appearance="outline"
                                class="addTable__forms__container__left__input"
                        >
                            <mat-label>Наименование заказчика</mat-label>
                            <input matInput formControlName="name">
                            <mat-error *ngIf="form.get('name').invalid">{{nameError()}}</mat-error>
                            <mat-icon
                                    matSuffix
                                    class="addTable__forms__container__left__icon"
                                    [matMenuTriggerFor]="menu"
                                    style="cursor: pointer"
                            >
                                menu_book
                            </mat-icon>
                            <mat-menu #menu="matMenu">
                                <mat-list>
                                    <mat-list-item
                                            *ngFor="let menu of menus"
                                            (click)="this.form.controls.name.patchValue(menu.item)"
                                            class="addTable__forms__container__left__menu"
                                    >
                                        {{menu.item}}
                                    </mat-list-item>
                                </mat-list>
                            </mat-menu>
                        </mat-form-field>
                    </ng-template>
                </div>
                <div class="addTable__forms__container__left__wrapper">
                    <div class="addTable__forms__container__left__block">
                        <div>БИН <span style="color: red">*</span></div>
                        <div *ngIf="data; else elseBin">
                            <mat-form-field
                                    appearance="outline"
                                    class="addTable__forms__container__left__input"
                            >
                                <input
                                        matInput
                                        placeholder="231232136171567"
                                        formControlName="bin"
                                        required
                                        [ngClass]="{'invalid': form.get('bin').invalid && form.get('bin').touched}"
                                >
                                <mat-error *ngIf="form.get('bin').invalid">{{binError()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <ng-template #elseBin>
                            <mat-form-field
                                    appearance="outline"
                                    class="addTable__forms__container__left__input"
                            >
                                <input
                                        matInput
                                        placeholder="231232136171567"
                                        formControlName="bin"
                                        required
                                        [ngClass]="{'invalid': form.get('bin').invalid && form.get('bin').touched}"
                                >
                                <mat-error *ngIf="form.get('bin').invalid">{{binError()}}</mat-error>
                            </mat-form-field>
                        </ng-template>
                    </div>
                    <div class="addTable__forms__container__left__block">
                        <div>№ договора <span style="color: red">*</span></div>
                        <div *ngIf="data; else elseBlock3">
                            <mat-form-field
                                    appearance="outline"
                                    class="addTable__forms__container__left__input"
                            >
                                <input
                                        matInput
                                        formControlName="company"
                                        required
                                        [ngClass]="{'invalid': form.get('contractNumber').invalid && form.get('contractNumber').touched}"
                                >
                                <mat-error
                                        *ngIf="form.get('contractNumber').invalid">{{contractNumberError()}}</mat-error>
                            </mat-form-field>
                        </div>
                        <ng-template #elseBlock3>
                            <mat-form-field
                                    appearance="outline"
                                    class="addTable__forms__container__left__input"
                            >
                                <input
                                        matInput
                                        required
                                        placeholder="1223"
                                        formControlName="contractNumber"
                                        [ngClass]="{'invalid': form.get('contractNumber').invalid && form.get('contractNumber').touched}"
                                >
                                <mat-error
                                        *ngIf="form.get('contractNumber').invalid">{{contractNumberError()}}</mat-error>
                            </mat-form-field>
                        </ng-template>
                    </div>
                    <div class="addTable__forms__container__left__block">
                        <div>Дата планового завершения <span style="color: red">*</span></div>
                        <div *ngIf="data; else elseBlock4">
                            <mat-form-field
                                    appearance="outline"
                                    class="addTable__forms__container__left__input"
                                    (click)="picker.open()"
                            >
                                <input
                                        matInput
                                        [matDatepicker]="picker"
                                        formControlName="dateFinish"
                                        value="{{form.get('dateFinish')?.value | date}}"
                                        [ngClass]="{'invalid': form.get('dateFinish').invalid && form.get('dateFinish').touched}"
                                >
                                <mat-error *ngIf="form.get('dateFinish').invalid">{{dateFinishError()}}</mat-error>
                                <mat-datepicker-toggle
                                        matSuffix
                                        [for]="picker"
                                        class="addTable__forms__container__left__icon"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <ng-template #elseBlock4>
                            <mat-form-field
                                    appearance="outline"
                                    class="addTable__forms__container__left__input"
                                    (click)="picker.open()"
                            >
                                <input
                                        matInput
                                        [matDatepicker]="picker"
                                        placeholder="Выберите дату"
                                        formControlName="dateFinish"
                                        [formControl]="date"
                                        [ngClass]="{'invalid': form.get('dateFinish').invalid && form.get('dateFinish').touched}"
                                >
                                <mat-error *ngIf="form.get('dateFinish').invalid">{{dateFinishError()}}</mat-error>
                                <mat-datepicker-toggle
                                        matSuffix
                                        [for]="picker"
                                        class="addTable__forms__container__left__icon"
                                ></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </ng-template>
                    </div>
                </div>
                <div class="addTable__forms__container__left__hr"></div>
                <div class="addTable__forms__container__left__block">
                    <div>Приложения</div>
                    <mat-form-field
                            appearance="outline"
                            class="addTable__forms__container__left__input"
                    >
                        <input matInput placeholder="Прикрепить файл">
                        <mat-icon matPrefix class="addTable__forms__container__left__icon">save_alt</mat-icon>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <mat-tab-group
                        mat-align-tabs="start"
                        [selectedIndex]="selected.value"
                        (selectedIndexChange)="selected.setValue($event)"
                >
                    <mat-tab
                            *ngFor="let tab of tabs; let index = index"
                            [label]="tab"
                    >
                        <ng-template mat-tab-label>
                            <div class="addTable__forms__container__right">
                                Номер проба №{{index + 1}}
                                <div class="addTable__forms__container__right__divider"></div>
                                <button
                                        mat-icon-button
                                        [disabled]="tabs.length === 1"
                                        (click)="removeTab(index)"
                                >
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                        </ng-template>
                        <div class="addTable__forms__container__right__wrapper" formGroupName="probeItem">
                            <div class="addTable__forms__container__right__container">
                                <div class="addTable__forms__container__right__block">
                                    <div class="addTable__forms__container__right__mr">Месторождение</div>
                                    <mat-form-field
                                            appearance="outline"
                                            class="addTable__forms__container__right__input"
                                    >
                                        <input
                                                matInput
                                                placeholder="с. Бесагалы"
                                                formControlName="fields"
                                        >
                                        <mat-icon
                                                matSuffix
                                                class="addTable__forms__container__left__icon"
                                                [matMenuTriggerFor]="menu2"
                                                style="cursor: pointer"
                                        >
                                            menu_book
                                        </mat-icon>
                                        <mat-menu #menu2="matMenu">
                                            <mat-list>
                                                <mat-list-item
                                                        *ngFor="let menu of menus"
                                                        (click)="this.form.controls.fields.patchValue(menu.item)"
                                                        class="addTable__forms__container__left__menu"
                                                >
                                                    {{menu.item}}
                                                </mat-list-item>
                                            </mat-list>
                                        </mat-menu>
                                    </mat-form-field>
                                </div>
                                <div class="addTable__forms__container__right__block">
                                    <div class="addTable__forms__container__right__mr">№ скважины</div>
                                    <mat-form-field
                                            appearance="outline"
                                            class="addTable__forms__container__right__input"
                                    >
                                        <input
                                                matInput
                                                placeholder="191920"
                                                formControlName="wellNumber"
                                        >
                                    </mat-form-field>
                                </div>
                                <div class="addTable__forms__container__right__block">
                                    <div class="addTable__forms__container__right__mr">Количество проб</div>
                                    <div class="addTable__forms__container__right__block">
                                        <mat-icon
                                                (click)="add()"
                                                class="addTable__forms__container__right__icon"
                                        >
                                            add
                                        </mat-icon>
                                        <span class="addTable__forms__container__right__text">
                                            {{quantity}}
                                        </span>
                                        <mat-icon
                                                (click)="remove()"
                                                class="addTable__forms__container__right__icon"
                                        >
                                            remove
                                        </mat-icon>
                                    </div>
                                </div>
                                <div class="addTable__forms__container__right__block">
                                    <div class="addTable__forms__container__right__mr">Тип пробоотборника</div>
                                    <mat-form-field
                                            appearance="outline"
                                            class="addTable__forms__container__right__input"
                                    >
                                        <input matInput formControlName="typeOfSampler">
                                        <mat-icon
                                                matSuffix
                                                class="addTable__forms__container__left__icon"
                                        >
                                            menu_book
                                        </mat-icon>
                                    </mat-form-field>
                                </div>
                                <div class="addTable__forms__container__right__block">
                                    <div class="addTable__forms__container__right__mr">Интервал перфорации</div>
                                    <mat-form-field
                                            appearance="outline"
                                            class="addTable__forms__container__right__input__performs addTable__forms__container__right__input"
                                    >
                                        <input matInput placeholder="345" formControlName="perforationInterval">
                                    </mat-form-field>
                                    <span style="margin: 0 20px;">-</span>
                                    <mat-form-field
                                            appearance="outline"
                                            class="addTable__forms__container__right__input__performs addTable__forms__container__right__input"
                                    >
                                        <input matInput placeholder="445">
                                    </mat-form-field>
                                    <mat-icon
                                            class="addTable__forms__container__right__icon"
                                            style="margin: 0 10px 0 20px;"
                                    >
                                        add
                                    </mat-icon>
                                    <span>Добавить интервал перорации</span>
                                </div>
                                <!--                                <div class="addTable__forms__container__right__block">-->
                                <!--                                    <div class="addTable__forms__container__right__mr">Интервал перфорации</div>-->
                                <!--                                    <mat-form-field-->
                                <!--                                            appearance="outline"-->
                                <!--                                            class="addTable__forms__container__right__input__performs"-->
                                <!--                                    >-->
                                <!--                                        <input matInput placeholder="345">-->
                                <!--                                    </mat-form-field>-->
                                <!--                                    <span style="margin: 0 20px;">-</span>-->
                                <!--                                    <mat-form-field-->
                                <!--                                            appearance="outline"-->
                                <!--                                            class="addTable__forms__container__right__input__performs"-->
                                <!--                                    >-->
                                <!--                                        <input matInput placeholder="445">-->
                                <!--                                    </mat-form-field>-->
                                <!--                                    <mat-icon-->
                                <!--                                            class="addTable__forms__container__right__icon"-->
                                <!--                                            style="margin: 0 10px 0 20px; background: rgb(175, 112, 122);"-->
                                <!--                                    >-->
                                <!--                                        close-->
                                <!--                                    </mat-icon>-->
                                <!--                                    <span>Добавить интервал перорации</span>-->
                                <!--                                </div>-->
                                <div class="addTable__forms__container__right__block">
                                    <div class="addTable__forms__container__right__mr">Глубина отбора</div>
                                    <mat-form-field
                                            appearance="outline"
                                            class="addTable__forms__container__right__input"
                                    >
                                        <input
                                                matInput
                                                placeholder="191920"
                                                formControlName="depthOfSelection"
                                        >
                                    </mat-form-field>
                                </div>
                                <div class="addTable__forms__container__right__block">
                                    <div class="addTable__forms__container__right__mr">Температура (°С)</div>
                                    <mat-form-field
                                            appearance="outline"
                                            class="addTable__forms__container__right__input"
                                    >
                                        <input matInput formControlName="temperature">
                                    </mat-form-field>
                                </div>
                                <div class="addTable__forms__container__right__block">
                                    <div class="addTable__forms__container__right__mr">Давление (МРа)</div>
                                    <mat-form-field
                                            appearance="outline"
                                            class="addTable__forms__container__right__input"
                                    >
                                        <input matInput formControlName="pressure">
                                    </mat-form-field>
                                </div>
                                <div class="addTable__forms__container__right__block">
                                    <div class="addTable__forms__container__right__mr">Дата отбора</div>
                                    <mat-form-field
                                            appearance="outline"
                                            class="addTable__forms__container__right__input__datePicker addTable__forms__container__right__input"
                                    >
                                        <input
                                                matInput
                                                placeholder="Выберите дату"
                                                [matDatepicker]="picker1"
                                                formControlName="dateOfSelection"
                                        >
                                        <mat-datepicker-toggle
                                                matSuffix
                                                [for]="picker1"
                                                class="addTable__forms__container__left__icon"
                                        ></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="addTable__forms__container__right__block">
                                    <div class="addTable__forms__container__right__mr">Дата поступления</div>
                                    <mat-form-field
                                            appearance="outline"
                                            class="addTable__forms__container__right__input__datePicker addTable__forms__container__right__input"
                                    >
                                        <input
                                                matInput
                                                placeholder="Выберите дату"
                                                [matDatepicker]="picker2"
                                                formControlName="dateOfReceipt"
                                        >
                                        <mat-datepicker-toggle
                                                matSuffix
                                                [for]="picker2"
                                                class="addTable__forms__container__left__icon"
                                        ></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="addTable__forms__container__right__block">
                                    <div class="addTable__forms__container__right__mr">ID номер пробы</div>
                                    <mat-form-field
                                            appearance="outline"
                                            class="addTable__forms__container__right__input"
                                    >
                                        <input matInput formControlName="id">
                                    </mat-form-field>
                                    <button class="addTable__forms__container__right__button">
                                        Сканировать
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab disabled>
                        <ng-template mat-tab-label>
                            <mat-icon
                                    class="addTable__forms__container__right__add"
                                    (click)="addTab(selectAfterAdding)"
                            >
                                add
                            </mat-icon>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
        <div class="addTable__forms__footer">
            <button
                    type="submit"
                    mat-raised-button
                    color="primary"
                    class="addTable__forms__footer__btnSave"
                    mat-dialog-close
                    [disabled]="form.invalid"
            >
                Сохранить
            </button>
            <button
                    mat-button
                    type="reset"
                    class="addTable__forms__footer__btnCancel"
                    mat-dialog-close
            >
                Отменить
            </button>
        </div>
    </div>
</form>
